@{
    ViewData["Title"] = "Add a Treatment";
}
<h1>@ViewData["Title"]</h1>

@model AddTreatmentViewModel

<div>

    <div asp-validation-summary="All"></div>

    <div>
        <form asp-action="AddTreatment" method="post">

            <div class="form-group">
                <label asp-for="Type">TreatmentType:</label>
                <select class="form-control" asp-for="Type" asp-items="@ViewBag.Types"></select>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description:</label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>

                <div class="form-group">
                    <label asp-for="Charge">Charge:</label>
                    <input class="form-control" asp-for="Charge" />
                </div>

            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="PerformedBy">Performed By:</label>
                    <input class="form-control" asp-for="PerformedBy" />
                </div>

                <div class="form-group col-4">
                    <label asp-for="PerformedOn">Performed On:</label>
                    <input type="date" class="form-control" asp-for="PerformedOn" />
                    <span asp-validation-for="PerformedOn" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group ">
                <button class="btn btn-primary col-sm-4 text-center">Add Treatment</button>
            </div>
        </form>
    </div>
</div>