@model AnimalForAdoptionViewModel
        <div class="container row justify-content-center">
            <div class="card col-6">
                <div class="card-body">
                    <h3 class="card-title">Dier ter adoptie zetten</h3>
                    <div asp-validation-summary="All"></div>
                    <form asp-action="AddAnimal" asp-controller="AnimalForAdoption" method="post">
                        <div class="form-group">
                            <label asp-for="Name">Naam:</label>
                            <input type="text" class="form-control" asp-for="Name" />
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label asp-for="Type">Dier type:</label>
                                <select class="form-control" asp-for="Type" asp-items="@ViewBag.Types"></select>
                            </div>
                            <div class="form-group col-6">
                                <label asp-for="Gender">Geslacht:</label>
                                <select class="form-control" asp-for="Gender" asp-items="@ViewBag.Genders"></select>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Sterilised">Is het dier gesteriliseerd/gecastreerd:</label>
                            <input class="form-control" asp-for="Sterilised" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ReasonAdoptable">Reden afstaan van dier:</label>
                            <textarea type="text" class="form-control" asp-for="ReasonAdoptable"></textarea>
                        </div>

                        <div class="form-group ">
                            <button class="btn btn-primary col-sm-4 text-center">Versturen</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        


