@model AddTreatmentViewModel

<a asp-action="index" asp-controller="home" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
<form enctype="multipart/form-data" asp-controller="home" asp-action="addTreatment" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="AnimalId" hidden="hidden" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="AnimalId" type="hidden" class="form-control" placeholder="AnimalId">
            <span asp-validation-for="AnimalId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="treatment.TreatmentType" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="treatment.TreatmentType" name="treatment.TreatmentType">

                <option value=0>Sterilization</option>
                <option value=1>Castration</option>
                <option value=2>Vaccination</option>
                <option value=3>Operation</option>
                <option value=4>Chipping</option>
                <option value=5>Euthanasia</option>


            </select>
            <span asp-validation-for="treatment.TreatmentType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="treatment.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="treatment.Description" class="form-control" placeholder="treatment.Description">
            <span asp-validation-for="treatment.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="treatment.Costs" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="treatment.Costs" class="form-control" placeholder="treatment.Costs">
            <span asp-validation-for="treatment.Costs" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="treatment.AgeRequirement" class="col-sm-2 col-form-label">Age Requirement (in months)</label>
        <div class="col-sm-10">
            <input asp-for="treatment.AgeRequirement" class="form-control" placeholder="treatment.AgeRequirement">
            <span asp-validation-for="treatment.AgeRequirement" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="treatment.DateOfTime" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="treatment.DateOfTime" class="form-control" placeholder="treatment.DateOfTime">
            <span asp-validation-for="treatment.DateOfTime" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="treatment.ExecutedBy" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="treatment.ExecutedBy" class="form-control" placeholder="treatment.ExecutedBy">
            <span asp-validation-for="treatment.ExecutedBy" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>

</form>