@model Residence
    <a asp-controller="residence" asp-action="index" class="btn btn-primary">Back</a>
    <form enctype="multipart/form-data" asp-controller="residence" asp-action="Edit" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="Shelter" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Shelter" class="form-control" placeholder="Shelter">
                <span asp-validation-for="Shelter" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Capacity" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Capacity" class="form-control" placeholder="Capacity">
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <label asp-for="Gender " class=" col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="Gender " class="form-control" placeholder="Gender ">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="AnimalType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="AnimalType " class="form-control" required placeholder="AnimalType ">
                    <option value="1">Dog</option>
                    <option value="2">Cat</option>
                </select>
                <span asp-validation-for="AnimalType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IsNeutered" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="IsNeutered" class="form-control" placeholder="IsNeutered">
                <span asp-validation-for="IsNeutered" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IndividualOrGroup" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="IndividualOrGroup" class="form-control" placeholder="IndividualOrGroup">
                <span asp-validation-for="IndividualOrGroup" class="text-danger"></span>
            </div>
        </div>




        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </div>

    </form>