
@model Client


@{ ViewData["Title"] = "Login"; }
<h1>@ViewData["Title"]</h1>


<div class="card-deck">


    <div class="card m-3" style="min-width: 18rem; max-width:100%">
        <div class="card-header">
            <h3 class="text-center">Login with your account</h3>
        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label asp-for="UserName  " class=" col-form-label"></label>
                    <input asp-for="UserName  " class="form-control" required placeholder="Username">
                    <span asp-validation-for="UserName   " class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="md-form mb-0">
                    <label asp-for="Password " class=" col-form-label"></label>
                    <input asp-for="Password " class="form-control" required placeholder="Password ">
                    <span asp-validation-for="Password " class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <a asp-controller="login" asp-action="register" class="btn btn-primary m-1">Register</a>
            <a asp-controller="login" asp-action="loggedin" class="btn btn-primary m-1">Log In</a>
        </div>
    </div>
</div>


