@model RegisterViewModel
<div class="container row justify-content-center">
    <div class="card col-6">
        <div class="card-body">
            <h3 class="card-title">Registeren</h3>
            <div class="text-danger" asp-validation-summary="All"></div>

            <form asp-action="Register" asp-controller="Account" method="post">

                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <div><span asp-validation-for="Email" class="text-danger"></span></div>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="DateOfBirth"></label>
                        <input type="date" asp-for="DateOfBirth" class="form-control" />
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="TelephoneNumber"></label>
                        <div><span asp-validation-for="TelephoneNumber" class="text-danger"></span></div>
                        <input asp-for="TelephoneNumber" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div><span asp-validation-for="Password" class="text-danger"></span></div>
                    <input asp-for="Password" class="form-control" />
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>